<!-- Home Page -->

<div class="fixed-size-full-height"
     style="min-height: 100%; background-size: cover; background-position: center center; background-image: url(https://s3-us-west-2.amazonaws.com/pg-scoresheet/classroom-hands-raised_800.jpg);">

    <div class="jumbotron text-center"
         style="margin-bottom: 0; padding-top: 30px; padding-bottom: 20px; background-color: rgba(143, 188, 143, 0.9);">
        <h1>
            AUTOMATED ALIGNMENT
        </h1>
        <h3>
            An education research project that aims to leverage machine learning to predict alignment to common core for a variety of teaching modules.
        </h3>
        <h4 style="color:gray; margin-top: 30px; font-style: italic;">
            A Preva Group Project
        </h4>
    </div>

    <!--
    <div class="jumbotron text-center clearfix"
         style="margin-bottom: 0; background: transparent;">
        <div class="col-sm-offset-3 col-sm-6">
            <p ng-if="!user._id"
               style="background-color: white; opacity: 0.9; font-weight: bold; color: black; padding: 15px;">
                Please
                <a ui-sref="user.signup">sign up</a>
                or
                <a ui-sref="user.login">login</a>
                to get started.
            </p>
            <p ng-if="user._id"
               style="background-color: white; opacity: 0.9; font-weight: bold; color: black; padding: 15px;">
                Please go to
                <a ui-sref="essays">essays</a>
                to get started.
            </p>
        </div>
    </div>
    -->

</div>
