<!-- Download Page -->

<!-- title -->
<h1 class="text-center"
    style="color: white; margin-top: 35px;">
    Download
</h1>

<!-- messages -->
<div ng-if="status.successMessage"
     class="container"
     style="max-width: 600px; margin-top: 10px;">
    <div class="alert alert-success"
         style="margin: 0 0 20px 0;">
        <span ng-click="closeSuccessMessage()"
              class="close">
            &times
        </span>
        {{status.successMessage}}
    </div>
</div>
<div ng-if="status.errorMessage"
     class="container"
     style="max-width: 600px;">
    <div class="alert alert-danger"
         style="margin: 0 0 20px 0;">
        <span ng-click="closeErrorMessage()"
              class="close">
            &times
        </span>
        {{status.errorMessage}}
    </div>
</div>

<!-- sections -->
<div style="display: flex; flex-direction: column;">

    <!-- indicator category datasets -->
    <div style="flex: 1; display: flex; flex-direction: row; align-items: center;">
        <div style="flex: 1; height: 100%; color: white;">
            <h1 style="text-align: center; margin: 20px;">
                Indicator Category Datasets
            </h1>
        </div>
        <div style="flex: 1; display: flex; flex-direction: column; align-items: center; border-left: solid; border-color: white;">
            <div style="flex: 1;">
                <button ng-click="downloadIndicatorCategoryDatasets()"
                        class="btn btn-block btn-success"
                        style="min-width: 300px; margin-bottom: 5px;">
                    <i class="glyphicon glyphicon-download"></i>&nbsp;
                    Download
                </button>
            </div>
        </div>
    </div>

</div>