<!-- title -->
<h2 class="text-center"
    style="margin-bottom: 15px;">
    Forgot Your Password
</h2>

<!-- success message -->
<div ng-if="status.successMessage"
     class="alert alert-success"
     style="max-width: 500px; margin: auto; margin-bottom: 10px;">
    <span ng-click="closeSuccessMessage()"
          class="close">
        &times
    </span>
    {{status.successMessage}}
</div>

<!-- error message -->
<div ng-if="status.errorMessage"
     class="alert alert-danger"
     style="max-width: 500px; margin: auto; margin-bottom: 10px;">
    <span ng-click="closeErrorMessage()"
          class="close">
        &times
    </span>
    {{status.errorMessage}}
</div>

<!-- outer div for mobile padding -->
<div style="padding: 0 1px;">

    <!-- container div for form -->
    <div style="max-width: 500px; margin: auto; padding: 15px; border: 1px solid; border-radius: 5px; background-color: lightblue;">

        <!-- send reset password link form -->
        <form ng-submit="click() && form.$valid && sendPasswordResetLink()"
              ng-if="!status.processing"
              name="form"
              novalidate>

            <!-- email -->
            <div class="form-group">
                <label>email</label>
                <div style="padding: 1px;">
                    <input type="email"
                           name="email"
                           ng-model="user.email"
                           class="form-control"
                           placeholder="email address"
                           ng-pattern="emailRegex"
                           required
                           autofocus>
                </div>
            </div>

            <!-- send reset password link button -->
            <button type="submit"
                    class="btn btn-block btn-default"
                    ng-class="{'btn-success': (!form.$dirty && !status.clicked) || form.$valid}"
                    style="width: 50%; margin: 30px auto 15px;">
                Send Me A Password Reset Link
            </button>

            <!-- form validation help text -->
            <div ng-if="status.clicked && !form.$valid"
                 class="help-block text-center small"
                 style="color: red; margin-top: 10px;">
                <p ng-if="!form.email.$valid">* please provide a valid email address *</p>
            </div>

        </form>

        <!-- loading wheel -->
        <span ng-if="status.processing"
              class="spinner">
        </span>

    </div>

</div>